.mask1 {
  background: url(https://imgs.search.brave.com/XinkZ41fr-lQfnAV3u8wd-WtD3VsA5PbmydNjLtdg9w/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vYXJ0ZXlh/bGdvbWFzLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMS8x/Mi9IYW5uYS1Ib2No/Li1Db2xsYWdlLXkt/Zm90b21vbnRhamUu/anBnP3Jlc2l6ZT05/NjAsNDUwJnNzbD0x)
    no-repeat;
  background-size: 100%;
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 85%, transparent);
  mask-image: linear-gradient (black 85%, transparent);
}

.shadow {
  color: white;
  text-shadow: 4px 4px 8px #000000;
}

.carousel .carousel-indicators button {
  width: 100%; /* Aumenta el ancho para que parezcan líneas */
  height: 5px; /* Ajusta la altura */
  background-color: #000; /* Cambia el color si es necesario */
  border-radius: 5px; /* Haz los bordes redondeados para que parezcan más suaves */
  pointer-events: none;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  position: absolute; /* Asegura que las flechas se coloquen sobre el carousel */
  top: 50%; /* Centra las flechas verticalmente */
  width: 40px; /* Tamaño más pequeño */
  height: 40px; /* Tamaño más pequeño */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  border-radius: 50%; /* Hace las flechas circulares */
  cursor: pointer; /* Cambia el cursor al pasar sobre las flechas */
  z-index: 5; /* Asegura que las flechas estén por encima del contenido */
}
.carousel .carousel-control-prev {
  left: 10px; /* Mueve la flecha izquierda más cerca del borde */
}

.carousel .carousel-control-next {
  right: 10px; /* Mueve la flecha izquierda más cerca del borde */
}

.carousel .carousel-indicators .active {
  background-color: #ffffff; /* Color diferente para el indicador activo */
  width: 100%; /* Puedes hacer que el indicador activo sea más grande */
}

/* Línea que abarque todos los indicadores */
.carousel-indicators::after {
  content: "";
  position: absolute;
  width: 100%; /* Abarca todo el ancho de los indicadores */
  height: 2px; /* Altura de la línea */
  background-color: #333; /* Color de la línea */
  bottom: 8px; /* Posición de la línea debajo de los indicadores */
  left: 0;
}

#FinalArt .text-light {
  color: white;
  padding-left: 10%;
  text-align-last: left;
  font-size: 3vw; /* Tamaño responsivo según el ancho de la ventana */
}

#FinalArt .shadow {
  color: white;
  text-shadow: 2px 2px 2px #757575;
}

.custom-width {
  width: 210px; /* Cambia este valor según lo que necesites */
  height: 350px;
}
