html,
body {
  height: 100%;
}

.navbar{
  background-color: black;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-brand{
  font-weight: 500;
  color: blue;
  font-size: 24px;
  transition: 0.3s color;

}

.loggin-button, .register-button {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
  margin: 10px;
}

.loggin-button{
  outline: solid;
  outline-color: white;
  outline-width: 4px;
}

.loggin-button:hover { /* Estilos cuando el cursor esté encima */
  background-color: #1a1919;
}
.navbar-toggler {/* Es */
  border: none;
  font-size: 1.5rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  font-weight: 500; /* Grosor de la fuente */
  color: white;
  position: relative; /* Posicion relativa a los padres */
}

.nav-link.active{
  color: white !important;
}

.nav-link:hover,
.nav-link.active:hover {
  color: #2d2e2e;
}

@media (min-width: 991px) { /* Esto hace que para que se ejecute estos estilos solamente si el minimo de la pantalla es 991*/
  .nav-link::before {
    content: "";
    position: absolute; /* Posicion absoula de los padres */
    bottom: 0; /* Coloca la linea justo debajo del link */
    left: 50%; /* Empieza a dibujar cuando llega al 50% */
    transform: translateX(-50%); /* Translada la linea hacia la izquierda, haciendo que se centre */
    width: 0; /* Empieza con un ancho de 0 */
    height: 2px;
    background-color: red;
    visibility: hidden;
    transition: 0.3s ease-in-out; /*comenzará lentamente, será más rápido en el medio de la animación y luego terminará lentamente.*/
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
