<%- include ('partials/header')%>
<!-- Hero section -->
<section class="hero-section">
    <div class="image-background"></div>
    <div class="container d-flex justify-items-center">
        <div class="row justify-content-center fs-1">
            <div class="col">
                <h1>Descubre <b>ARTE</b> en CANCÚN</h1>
            </div>
            <div class="col">
                <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis perferendis architecto at odit, sint voluptatum, tempora accusamus quasi dolor maiores laudantium atque aliquam quas vitae error magnam modi totam pariatur.</h2>
            </div>
        </div>
    </div>
</section>

<%- include ('partials/footer')%>
