<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <link rel="stylesheet" href="/login.css">
  
</head>
<body>

  <div class="wrapper">
    <!-- Contenedor del formulario de inicio de sesión -->
    <div class="form-container">
      <div class="form-content">
        <h1>INICIAR SESIÓN</h1>
        <form action="/log" method="POST">
          <input type="text" name="username" placeholder="Nombre de Usuario" required>
          <input type="password" name="password" placeholder="Contraseña" required>
          
          <button type="submit" class="btn">ENTRAR</button>
        </form>
      </div>
    </div>

    <!-- Contenedor de la imagen -->
    <div class="image-container"></div>
  </div>

</body>
</html>
