<%- include ('partials/header')%>

<div class="d-flex justify-content-center">
  <form>
    <div class="mb-3">
      <label for="email" class="form-label">Correo electronico</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Ingrese su correo"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Ingrese su contraseña"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
  
  <div class="text-center mt-3">
    <a href="#">¿Olvido su contraseña?</a>
  </div>
  <div class="text-center mt-2">
    <p>¿No tiene una cuenta? <a href="#">Registrase</a></p>
  </div>
</form>
</div>

<%- include ('partials/footer')%>
