<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <link rel="stylesheet" href="/register.css" />

</head>
<body>

  <div class="wrapper">
    <!-- Contenedor del formulario -->
    <div class="form-container">
      <div class="form-content">
        <h1>REGISTRARSE</h1>
        <form action="/auth" method="POST">
          <input type="email" name="email" placeholder="Dirección de Email" required>
          
          <div class="checkbox-container">
            <input type="checkbox" id="privacy" name="privacy" required>
            <label for="privacy">
              Tienes que leer y aceptar nuestros términos en <a href="#">Política de Privacidad</a>
            </label>
          </div>

          <div class="checkbox-container">
            <input type="checkbox" id="marketing" name="marketing">
            <label for="marketing">
              Consientes recibir comunicaciones de marketing de Nothing
            </label>
          </div>

          <button type="submit" class="btn">CONFIRMAR</button>
        </form>
      </div>
    </div>

    <!-- Contenedor de la imagen -->
    <div class="image-container"></div>
  </div>

</body>
</html>
