<%- include ('partials/header')%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vendedor</title>
    <link rel="stylesheet" href="stylesRegistroVender.css" />
  </head>
  <body>
    <h1>REGISTRO DE VENDEDORES</h1>
  </body>
</html>

<%- include ('partials/footer')%>
