<%- include ('partials/header')%>

  <link rel="stylesheet" href="/stylesVender.css"/>

    <section class="home">
      <div class="home-content">
        <h1>VENDE<br />TU ARTE</h1>
        <p>
          la plataforma web que conecta artistas locales con potenciales
          clientes
        </p>
        <div class="btn-box">
          <a href="/register"> Comenzar a Vender </a>
        </div>
      </div>
      <div class="imagen">
        <img src="https://i.pinimg.com/236x/67/7d/13/677d13cdf55692946a9a46d84c33d93d.jpg" alt="imagen no disponible">
      </div>
    </section>

<%- include ('partials/footer')%>
