<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Imágenes</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Imágenes Almacenadas</h1>

      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="<%= imagenes %>" class="card-img-top" alt="HOLA" />
            <div class="card-body">
              <h5 class="card-title"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
