html, body {
    height: 100%;
  }

  /* Contenedor principal que incluye el contenido y el footer */
  .content-wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  /* Contenido se expande para ocupar el espacio */
  .main-content {
    flex: 1;
  }

  /* Footer pegajoso en la parte inferior */
  footer {
    background-color: #343a40; /* bg-dark de Bootstrap */
    color: white;
  }
